*{
    padding: 0;
    margin: 0;
}
#body{
    margin: 0 8vw;
}
.container{
    padding: 3vw;
}
#ham{
    display: none;
}
#avtar{
    height: 30px;
}
.flex{
    display: flex;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    border-radius: 1vw;
}
.mainImg{
    width: 100%;
}
.heading{
    color: rgb(233, 76, 18);
    font-size: larger;
    padding: 5px 0;
}
.container2{
    display: grid;
    padding: 7vw 3vw;
    align-content: baseline;
    gap: 1.5vw;
}
h1{
    font-size: 40px;
}
p{
    color: grey;
}
.price{
    gap: .5vw;
}
.discount{
    background-color: rgba(255, 128, 0, 0.178);
    padding: 2px 7px;
    color: rgb(233, 76, 18);
    border-radius: 5px;
    margin-bottom: 19px;
}
h3{
    font-size: 13px;
}
.button{
    margin: 2vw;
    gap: 4vw;
    align-items: center;
    justify-content: space-evenly;
}
.cart{
    background-color: rgb(255, 92, 33);
    padding: 10px ;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    width: fit-content;
    border-radius: 10px;
    justify-content: center;
}
header{
    justify-content: space-between;
    padding-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-bottom: rgba(128, 128, 128, 0.197) solid;
}
s{
    color: rgba(128, 128, 128, 0.639);
}
#menu{
    gap: 3vw;
    color: grey;
    margin-left: 7vw;
    align-items: center;
}
.bar{
    padding-bottom: 3vw;
    border-style: none;
    border-bottom: orangered solid 0px;
}
#women{
    border-width: 4px;
    font-size: 19px;
    color: black;
}
#img2,#img3,#img4{
    display: none;
}
#cart{
    margin-top: 5px;
}
.thumbnail{
    justify-content: space-between;
    padding-top: 7%;
}
.thumbnail img{
    width: 6.5vw;
    border: orangered solid 2.5px;
    opacity: .5;
}
#thumb2,#thumb3,#thumb4{
    opacity: 1;
    border-width: 0;
}
.profile{
    display: flex;
    gap: 1vw;
}
#pop{
    display: none;
}
#basket{
    /* display: grid; */
    display: none;
    grid-template-rows: 1fr 4fr;
    background-color: whitesmoke;
    width: 325px;
    height: 200px;
    position: relative;
    bottom: 54.3vw;
    left: 75%;
    border-radius: 10px;
    box-shadow: rgba(128, 128, 128, 0.714) 0px 10px 12px 0px;
}
.btw{
    padding: 0px 20px 15px 20px;
    border-bottom: rgba(128, 128, 128, 0.374) solid 1px;
}
.btw svg{
    margin-top: 3px;
}
#basket h4{
    font-size: larger;
}
#content{
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
/* #empty{
    display: none;
} */
#buy{
    /* display: grid; */
    display: none;
    grid-template-rows: 1fr 1fr;
}
.buy{
    height: 60px;
    border-radius: 5px;
}
.details{
    gap: 15px;
    align-items: center;
}
.details p{
    font-size: 15px;
}
#total{
    font-weight: 900;
    color: black;
}
#link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
.lightbox{
    display: none;  
    background-color: rgba(0, 0, 0, 0.558);
    height: 60vw;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    gap: 20px;
    position: absolute;
    margin: 0 ;
}
#end{
    margin-left: 425px;
}
.change img{
    height:6vw;
    margin: 7px;
}
.main{
    align-items: center;
}
.main img{
    height: 450px;
}
.main svg{
    background-color: white;
    padding: 12px 15px;
    border-radius: 50%;
    position: relative;
}
#pre{
    left: 4%;
}
#next{
    right: 4%;
}


@media(max-width:375px)
{
    body{
        padding: 0%;
    }

    #ham{
        display: block;
        padding-right: 20px;
        margin-top: 5px;
    }
    #menu{
        display: none;
    }
    .profile{
        gap: 3vw;
    }
    header{
        padding: 0 25px;
        border: none;
        margin: 4vw;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .thumbnail{
        display: none;
    }
    .container{
        padding: 0;
    }
    .mainImg{
        border-radius: 0;
    }
    .container2{
        padding: 5vw;
    }
    .heading{
        font-size: 15px;
    }
    h1{
        font-size: xx-large;
    }
    #price{
        display: flex;
        justify-content: space-between;
        padding: 7vw 0;
    }
    s{
        font-size: 15px;
    }
    .number{
        flex-direction: column;
    }
    .quantity{
        gap: 100px;
    }
    .cart{
        width: 80vw;
    }
    .price{
        gap: 5vw;
    }
    #pop{
        background-color: white;
        width: 60%;
        height: 130vw;
        position: relative;
        top: -860px;
        padding: 5vw;
    }
    #pop svg{
        padding-bottom: 8vw;
    }
    #pop h3{
        font-size: large;
        padding-bottom: 5vw;
    }
    #basket{
        left: 15px;
        width: 345px;
        height: 300px;
        bottom: 795px;
    }
    #basket h4{
        padding-top: 6vw;
    }
    #content div{
        gap: 30px;
    }
    .details{
        margin: 10px;
    }
    #link{
        margin: 15px 13px;
    }
    .btw svg{
        margin-top: 27px;
    }
}